@charset "utf-8";
@media only all { @-o-viewport{width:device-width;} @-ms-viewport{width:device-width;} @-webkit-viewport{width:device-width;} html,body{-ms-scroll-snap-type:mandatory;-ms-scroll-snap-points-y:repeat(0.5rem);-webkit-scroll-snap-type:mandatory;-webkit-scroll-snap-points-y:repeat(0.5rem);} }
@media only all { @viewport{width:device-width;height:device-height;} html,body{scroll-snap-type:mandatory;scroll-snap-points-y:repeat(0.5rem);} }
@-moz-document url-prefix() { *::-moz-focus-inner,button::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="file"]>input[type="button"]::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner{border-width:0;margin:0;padding:0;border-style:none;} *{-moz-osx-font-smoothing:inherit;} body{-moz-osx-font-smoothing:greyscale;} }
@media only (scripting) { noscript {display:none;visibility:hidden;} }
html>body.has-script noscript {display:none;visibility:hidden;width:0;height:0;max-width:0;max-height:0;overflow:hidden; }
/**/
* {font:inherit;font-size:inherit;font-family:unset;font-family:inherit;font-stretch:inherit;font-style:inherit;line-height:inherit;vertical-align:inherit;-webkit-box-sizing:inherit;-moz-box-sizing:inherit;-ms-box-sizing:inherit;-o-box-sizing:inherit;box-sizing:inherit;color:currentColor;color:inherit;border-color:currentColor;}
*:before,*:after {-webkit-box-sizing:inherit;-moz-box-sizing:inherit;-ms-box-sizing:inherit;-o-box-sizing:inherit;box-sizing:inherit;font:inherit;font-size:inherit;}
*::before,*::after {box-sizing:inherit;font:inherit;font-size:inherit;}
bdo[dir="ltr"] {unicode-bidi:bidi-override;direction:ltr;} bdo[dir="rtl"]{unicode-bidi:bidi-override;direction:rtl;}
*[dir="ltr"] {unicode-bidi:embed;direction:ltr;} *[dir="rtl"]{unicode-bidi:embed;direction:rtl;}
[hidden] {display:none;visibility:hidden;}
[unselectable] {-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none;}
/**/
html {box-sizing:content-box;text-size-adjust:100%;font-stretch:normal;font-stretch:100%;image-rendering:auto;font-smooth:8px;tab-size:4;}
html {-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%;-webkit-font-smoothing:antialiased;*zoom:1.0;-ms-zoom:1.0;}
html,body {unicode-bidi:embed;line-height:100%;height:100%;min-height:100%;text-align:center;vertical-align:top;}
head,style,script,template,datalist,track {display:none;visibility:hidden;}
area,rp {display:none;}
input[type="hidden"] {display:none;visibility:hidden;}
audio:not([controls]) {display:none;}
body {margin:0;display:block;overflow:auto;-webkit-overflow-scrolling:touch;}
/**/
hr,p,pre,blockquote,li,ol,ul,dl,dt,dd,form,fieldset,menu,h1,h2,h3,h4,h5,h6,div {unicode-bidi:embed;display:block;}
img,picture,video,audio,canvas,input,select,button,textarea,meter,progress { display:inline-block; }
span,b,i,strong,em,cite,var,code,kbd,samp,img {display:inline;}
div,br {display:block;}
table {display:table;border-collapse:seperate;border-spacing:0;table-layout:fixed;}
td,th {display:table-cell;}
tr {display:table-row;}
tbody {display:table-row-group;}
thead {display:table-header-group;}
tfoot {display:table-footer-group;}
col {display:table-column;}
colgroup {display:table-column-group;}
caption {display:table-caption;}
li {display:list-item;list-style:inherit;list-style-type:inherit;}
ruby {display:ruby;}
rt {display:ruby-text;}
ul,ol {padding-left:0;padding-right:0;list-style-position:inside;}
ol {list-style-type:decimal;}
ul {list-style-type:disc;}
sub {vertical-align:sub;}
sup {vertical-align:super;}
pre {white-space:pre;}
del {text-decoration:line-through;}
i,em,var,cite,blockquote,dfn {font-style:italic;}
b,strong,dt {font-weight:bolder;}
h1,h2,h3,h4 {font-weight:700;}
h5,h6 {font-weight:800;}
/**/
pre,textarea {white-space:pre-wrap;word-wrap:break-word;tab-size:inherit;}
input[type="number"] {text-align:end;}
input[type="datetime-local"] {text-align:center;}
td[colspan] {text-align:center;}
/**/

/*!*
(	BASIC UNSET METRICS SHIT
)*!*/
/**/
a img,abbr,blockquote,legend,fieldset,iframe {border-width:0;}
h1,h2,h3,h4,h5,h6,figure,form,fieldset,input,select,button,textarea,menu,blockquote,p,ul,ol,dl,ol ul,ul ol,ul ul,ol ol,li,dd,dt {margin:0;}
fieldset,input,textarea,select,button,blockquote {padding:0;}
input,textarea,select,button {font:inherit;font-size:inherit;line-height:inherit;vertical-align:top;border-width:0;border-style:none;}
select[multi] {padding:0;}
/**/

/*!*
(	CORE FONT-FAMILY STACK FIXED-WIDTH CJK CONSOLE TYPEFACES
)*!*/
/**/
html
{
	font-family: 'Binchotan_Sharp','Ubuntu Mono','Ubuntu Monospace','NanumGothicCoding','Nanum Gothic Coding'
	, 'VL Gothic','TakaoGothic','Takao Gothic','IPAGothic','IPA Gothic','MSGothic','MS Gothic','Osaka-Mono'
	,	'M+ 1m','IosevkaCC','Kawkab Mono','Unifont','FixedsysExcelsior','Fixedsys Excelsior','Fixedsys Excelsior 3.01','Fixedsys','Fixedsys Regular'
	,	monospace,monospace,sans-serif ;
}
/**/
body {
	font-family: "Binchotan_Sharp"
	,	"Ubuntu Mono","Ubuntu Monospace"
	,	"NanumGothicCoding","Nanum Gothic Coding"
	,	"Osaka-Mono","Osaka-等幅"
	,	"VL Gothic","VLゴシック"
	,	"TakaoGothic","Takao Gothic"
	,	"IPAGothic","IPAフォント","IPA Gothic"
	,	"MSGothic","ＭＳ ゴシック","MS Gothic"
	,	"M+ 1m","IosevkaCC","Kawkab Mono"
	,	"WenQuanYi Zen Hei Mono","SimHei","中易黑体"
	,	"MotoyaLCedar W3 mono","MotoyaLCedar"
	,	"MotoyaLMaru W3 mono","MotoyaLMaru"
	,	"EPSON-MARUGO","EPSON 丸ゴシック体Ｍ"
	,	"Unifont"
	,	"TerminusTTF","Terminus"
	,	"Fixedsys Excelsior","Fixedsys Excelsior 3.01"
	,	"Fixedsys"
	,	"monospace",monospace,monospace,sans-serif ;
}
/**/
pre,code,samp {
	font-family: "IosevkaCC Slab","TakaoMincho","Takao Mincho","IPAMincho","IPA Mincho","Sazanami Mincho","MSMincho","ＭＳ 明朝","MS Mincho"
	,	"AppleMyungjo","PCMyungjo","HanaMinA","BabelStone Han","Bitstream CyberCJK"
	,	monospace,monospace ;
}
/**/

/*!*
(	PSEUDO CONTENT
)*!*/
/**/
cite:before {content:' \203B ';}
q:before {content:open-quote;}
q:after {content:close-quote;}
/**/
input[type="checkbox"]:before,input[type="radio"]:before {font:inherit;font-size:100%;font-size:1rem;display:inline-block;position:absolute;vertical-align:top;line-height:100%;min-width:1em;min-height:1em;top:0;left:0;right:0;bottom:0;}
input[type="checkbox"]:checked:before,input[type="radio"]:checked:before {font-weight:700;}
input[type="checkbox"]:before {content:'\2B1C\FE0E';}
input[type="checkbox"]:checked:before {content:'\2611\FE0E';}
input[type="radio"]:before {content:'\2B55\FE0E';}
input[type="radio"]:checked:before {content:'\1F518\FE0E';}
/**/
q:before,q:after {vertical-align:top;}
q::before,q::after {vertical-align:top;}
/**/
q:lang(fr),q:lang(it),q:lang(eu) {quotes: "«" "»" "‹" "›" ;}
q:lang(en),q:lang(af),q:lang(nl),q:lang(eo),q:lang(tl),q:lang(fi),q:lang(id),q:lang(ko),q:lang(sv),q:lang(th),q:lang(tr),q:lang(vi) {quotes: "“" "”" "‘" "’" ;}
q:lang(jp),q:lang(zh) {quotes: "「" "」" "『" "』" ;}
/**/

/*!*
(	CURSOR POINTER TYPES
)*!*/
/**/
[disabled] {cursor:not-allowed;cursor:no-drop;}
[draggable] {cursor:move;}
a:link,a:visited {cursor:pointer;}
abbr[title],dfn[title],del[title] {cursor:help;}
details summary {cursor:default;}
/**/

/*!*
(	CORE METRICS
)*!*/
/**/
:focus,a:link:focus,a:visited:focus {outline-style:dotted !important;outline-width:0.125em;outline-offset:0.125em;outline-width:0.125rem !important;outline-offset:0.125rem !important;}
/**/
hr,p,pre,blockquote,ol,ul,dl,form,fieldset,legend,menu,h1,h2,h3,h4,h5,h6,div {margin-left:auto;margin-right:auto;}
/**/
/*p,pre,blockquote,td,li,dd,dt,input,textarea,select {text-align:start;}*/
hr {display:block;margin:0.250em auto;border-width:0.1875em;padding:0.0625em;border-style:double;border-left-width:0;border-right-width:0;}
/**/
input,textarea,select,button {height:1.25em;min-height:1.25em;border-width:0.0625em;border-bottom-width:0.125em;padding-top:0.0625em;padding-left:0.38750em;padding-right:0.38750em;border-radius:0.1250em;}
fieldset {border-width:0.1250em;padding:0.3750em;margin:0.5000em;border-radius:0.2500em;}
form>fieldset{padding:0.8750em;}
progress {display:inline-block;border-radius:0.5em;overflow:hidden;}
textarea {min-width:10em;}
input[type="search"] {border-radius:0.75em;}
input[type="checkbox"],input[type="radio"] {line-height:inherit;width:1em;height:1em;margin-left:1em;margin-right:1em;}
input[type="checkbox"]:checked:before,input[type="radio"]:checked:before {font-weight:bolder;}
input[type="checkbox"]:before,input[type="radio"]:before {line-height:150%;}
input[type="radio"] {border-radius:50%;}
input[type="reset"] {border-style:dotted;border-bottom-style:dashed;}
/**/
input[type="checkbox"],input[type="radio"] {-webkit-appearance:none;box-sizing:content-box;position:relative;vertical-align:top;text-align:center;border-width:0.06250em;border-bottom-width:0.1250em;padding:0.18750em;padding-bottom:0.125em;width:1em;height:1em;}
input[type="checkbox"]:checked:before{font-weight:700;}
/**/
small {font-size:0.800em;line-height:125%;vertical-align:baseline;}
/**/
h1 {font-size:2.500em;line-height:120%;}
h2 {font-size:2.000em;line-height:100%;}
h3 {font-size:1.600em;line-height:125%;}
h4 {font-size:1.500em;line-height:100%;}
h5 {font-size:1.250em;line-height:120%;}
h6 {font-size:1.200em;line-height:125%;}
/**/

/*!*
(	CORE METRICS FOR FORM FIELD ELEMENT TYPES
)*!*/
/**/
/* .x--formfield */
.x--formfield {padding:0.25em 1em;}
.x--formfield>label {display:inline-block;padding-left:1em;padding-right:1em;line-height:150%;}
.x--formfield>label+label {padding:0;line-height:100%;}
/**/

/*!*
(	CORE METRICS FOR VENDOR-SPECIFIC INPUT WIDGET CONTROL PSEUDO-ELEMENTS
)*!*/
/**/
input[type="number"] {-webkit-appearance:none;}
input[type="file"]::-webkit-file-upload-button {display:inline-block;font:inherit;font-size:inherit;line-height:100%;vertical-align:top;border-width:0.06250em;padding:0.06250em;border-radius:0.125em;margin:0;padding:0.06250em 0.38750em;height:1.250em;font-variant:small-caps;text-transform:lowercase;background:transparent;background-image:unset;background-color:transparent;border-style:dotted;color:currentColor;color:inherit;border-color:currentColor;}
/**/

/*!*
(	MISC: DYNAMIC DOCUMENT LOAD STATE INDICATION VIA CURSOR TYPE.
)*!*/
/**/
html.readystate--loading {cursor:wait;}
html.readystate--interactive {cursor:progress;}
html.readystate--complete {cursor:auto;}
/**/

/*!*
(	CORE UTILITY CLASSES
)*!*/
/**/
.icon {display:inline-block;font-size:100%;vertical-align:inherit;line-height:100%;font-size:1em;width:1em;height:1em;font-variant:normal;text-transform:none;font-weight:normal;color:inherit;speak:none;}
/**/
.x--clearfix:after {clear:both;}
.x--clearfix:before,.x--clearfix:after {content:" ";display:table;}
.x--hidden {visibility:hidden;}
.x--hidden-visually {position:absolute;clip:rect(0 0 0 0);overflow:hidden;white-space:nowrap;border-width:0;padding:0;width:2px;height:2px;margin:-1px;}
.x--hidden-visually.x--focusable:active,.x--hidden-visually.x--focusable:focus {position:static;clip:auto;overflow:visible;white-space:inherit;width:auto;height:auto;margin:0;}
.x--untouchable {pointer-events:none;}
.x--untouchable>* {pointer-events:auto;}
.x--compositor-layer-hint {-webkit-transform:translateZ(0);-o-transform:translateZ(0);-ms-transform: translateZ(0);-moz-transform:translateZ(0);transform:translateZ(0);}
/**/

/*!*
(	COLOR SCHEME OF BASIC NEUTRAL DEFAULTS
)*!*/
/**/
:focus {outline-color:inherit;outline-color:currentColor;outline-color:invert;}
/**/
input,textarea,select,button { box-shadow:unset; }
/**/
a {color:currentColor;color:inherit;text-decoration-color:currentColor;}
:link,:visited {text-decoration:underline;color:currentColor;color:inherit;text-decoration-color:currentColor;}
a:link:hover,a:visited:hover {-webkit-text-decoration-color:currentColor;text-decoration-color:currentColor;border-color:currentColor;}
a:not(:hover) {-webkit-text-decoration-color:grey;text-decoration-color:grey;}
/**/
input,textarea,select,button {color:inherit;background:transparent;background-color:transparent;background:none;border-style:solid;}
fieldset,input,textarea,select,button {border-color:currentColor;border-color:grey;}
input:focus,textarea:focus,select:focus,button:focus {border-bottom-color:currentColor;}
/**/
form>fieldset {box-shadow:inset 0 0 0.250em grey,0 0 0.250em grey;}
input,textarea,select,button,progress {box-shadow:0 0 0.1250em grey;}
/**/

/*!*
(	COLOR SCHEME DEFAULTS FOR NON-STANDARD PSEUDO-ELEMENTS
)*!*/
::-ms-input-placeholder {color:currentColor;color:inherit;color:grey;}
:-moz-input-placeholder {color:currentColor;color:inherit;color:grey;}
::-moz-input-placeholder {color:currentColor;color:inherit;color:grey;}
::-webkit-input-placeholder {color:currentColor;color:inherit;color:grey;}
/**/
::-webkit-file-upload-button,::-webkit-color-swatch,::-webkit-color-swatch-wrapper {border-color:currentColor;border-color:grey;}
::-webkit-file-upload-button:hover,::-webkit-color-swatch:hover {border-color:currentColor;}
input[type="file"]:hover::-webkit-file-upload-button,input[type="color"]:hover::-webkit-color-swatch {border-color:currentColor;}
input[type="file"]:active::-webkit-file-upload-button,input[type="range"]:active::-webkit-slider-thumb,input[type="color"]:active::-webkit-color-swatch-wrapper {box-shadow:0 0 0.1250em grey,0 0 0.250em grey;}
/**/
::-ms-value,::-ms-browse,::-ms-check,::-ms-clear {color:currentColor;color:inherit;background:transparent;background-image:unset;background-color:transparent;border-color:currentColor;}
/**/

/**/
/*(!!)*//*!?/\/\\/("[~{~(~{~(..)~}~)~}~]")\//\/\?!*//*(!!)*/
/**/

/**/
/*input,textarea,select,button {vertical-align:top;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}*/
/* fieldset,input,textarea,select,button {border-style:solid;border-color:currentColor;} */
/**/
