---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Clara Nolan";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="3D text that looks like a medieval script that states "Welcome" src="/welcome.gif"/>
    </div>
    <h1>Clara Nolan</h1>
    <span class="badge">Developer & Designer</span>
    <h2>About</h2>
    <p>
        My name is Clara and I am a current student at the University of Pennsylvania studying 
        Computer Science and Design, concentrating in Computer Graphics applications. I am passionate about accessibility and the intersection
        between art and technology.
    </p>
    <h2>Interests</h2>
    <p>
    creative coding, Open Source projects (Veloren is one of my faves), and gender equity work
    </p>
    <div class="center">
        <a href="/works/">
            <button class="btn">My portfolio</button>
        </a>
    </div> 
</Layout>

