---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "Posts";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="Art and Design Gif" src="/art.gif"/>
    </div>
    <h2>3D Art</h2>
    <ul role="list" class="link-card-grid">
        <Card
            url="https://www.artstation.com/artwork/LRoww0"
            image="/ship1.jpg"
            title="Viking Funeral Pyre"
            body="Modeled in Maya, textured using QuixelMixer, rendered in Unreal Engine"
        />
        <Card
            url="https://www.artstation.com/artwork/w0kVzL"
            image="/lobby.jpg"
            title="Wolf Among Us Inspired Lobby"
            body="Modeled in Maya, textured using QuixelMixer, rendered in Unreal Engine"
        />
        <Card
            url="https://www.artstation.com/artwork/xDQRlm"
            image="/toon-lobby.jpg"
            title="Toon-shaded Office"
            body="Created a toon shader in Unreal Engine that flattens color and provides a black outline around objects"
        />
        <Card
            url="https://medium.com/"
            image="/capybara.jpg"
            title="Low-poly Capybara"
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
    </ul>
    <h2>YouTube</h2>
    <ul role="list" class="link-card-grid">
        <Card
            url="https://www.youtube.com/watch?v=8p8kLTPm0h8&ab_channel=ClaraNolan"
            image="/os.png"
            title="OS Symphony"
            body="A sardonic audio-visual art piece that highlights various operating systems. Visual created in TouchDesigner and is audio-reactive."
        />
        <Card
            url="https://www.youtube.com/watch?v=eD-7-z9si8E&ab_channel=ClaraNolan"
            image="/pwc.png"
            title="Penn Women's Center Reimagined"
            body="Proof of concept of a reimagining of the Penn Women's Center in 3D space, VR experience using WonderLand."
        />
    </ul>
</Layout>

